<form method="post">
	<input placeholder="Введите первое число" name="firstNum" type="number" style="width: 200px;" />
	<br />
	<br />
	<input placeholder="Введите второе число" name="secondNum" type="number" style="width: 200px;" />
	<br />
	<br />
	<input placeholder="Введите третье число" name="thirdNum" type="number" style="width: 200px;" />
	<br />
	<br />
	<button style="background-color:#3045FF; border-radius: 6px;">Проверить</button>
	<br />
	<br />
	<p>Если все числа 3 числа будут пложительными программа найдёт среднее арифметическое иначе произведение</p>
	<p>Результат: @ViewBag.H</p>
</form>